.home-content {

    .home-info {
        position: absolute;
        top: calc(50% + 77px);
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: -0.45px;
        color: #383743;
    }
}

