
body {
  background-color: #ebe9d7;
}

.login-container {
  width: 357.7px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .btn-login {
    width: 100%;
  }

  .logo_home {
    margin-bottom: 67px;
  }

  .BEM-VINDO-AO-EMPRESA {
    margin-bottom: 20.5px;
  }

  .Lorem-ipsum-dolor-si {
    margin-bottom: 30px;
  }

  .fields {
    margin-bottom: 46.3px;
  }
}




.BEM-VINDO-AO-EMPRESA {
    width: 176px;
    height: 64px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #383743;
    margin: 0 auto;
  }

  .Lorem-ipsum-dolor-si {
    width: 357.7px;
    height: 52px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -0.25px;
    text-align: center;
    color: #383743;
  }

  .logo_home {
    width: 295px;
    height: 72px;
    object-fit: contain;
  }

  .Rectangle-26 {
    width: 324px;
    height: 52.8px;
    border-radius: 3.6px;
    background-color: #57bbbc;
  }

  .ENTER {
    width: 70px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    line-height: 52.8px;
  }
  