.card {
    padding: 27px 30px;
    margin: 44px 50px;
    cursor: pointer;

    .text1, .text2, .text3 {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #8d8c8c;
        margin: 4px 0;
    }

    .text1 {
        height: 39px;
        font-size: 30px;
        font-weight: bold;
        color: #1a0e49;
    }

    .text2 {
        height: 32px;
        font-size: 24px;
    }

    .text3 {
        width: 119.7px;
        height: 24px;
        font-size: 18px;
    }

    .card-image {
        height: 160px;
        width: 293px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.card.image-card {
    cursor: default;
    padding: 48px 72px;

    .card-image {
        width: 100%;
        height: auto;
    }

    .card-content {
        padding: 45px 0;
        font-family: SourceSansPro;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.38px;
        text-align: left;
        color: #8d8c8c;
    }
}