.field-container {
    position: relative;

    .ic-field {
        position: absolute;
        top: 7px;
        left: 0;
    }

    input {
        padding-left: 35px !important;
        height: 24px;
        opacity: 0.5;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.25px;
        color: #383743;
    }
}