.search-form {
    form {
        .search-input {
            position: absolute;
            bottom: 22px;
            font-size: 34px;
            color: #991237;
            padding-left: 80px;
            padding-bottom: 10px;
            width: calc(100% - 165px);
        }

        .ic_search {
            position: absolute;
            left: 42px;
            bottom: 33px;
            cursor: pointer;
        }

        .ic_close {
            position: absolute;
            right: 42px;
            bottom: 33px;
            cursor: pointer;
        }

        .btn-submit {
            display: none;
        }
    }
}