nav.topbar {
    height: 154px;
    // background-image: linear-gradient(173deg, #ee4c77, #0d0430);
    background-color: #ee4c77;

    .nav-wrapper {
        padding: 22px 42px;

        .logo_home {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 234.2px;
            height: 57px;
        }
    
        .ic_search2 {
            top: 50%;
            right: 40px;
            position: absolute;
            transform: translate(0, -50%);
            cursor: pointer;
        }
    }


}
